<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

<style>
    div.one {color: black;}
    div.two {color: green;}
    div.three {color: orange;}
    div.four {color: #666699;}
    div.five {color: red;}
</style>
<f:for each="{viewArray}" as="viewArrayValue" key="viewArrayValueKey">
    <f:switch expression="{viewArrayValueKey}">
        <f:case value="relationship">
            <div class="one">
                <h1>relationship</h1>
                    <f:for each="{viewArrayValue}" as="relationship">
                        <p>{relationship}</p>
                    </f:for>
            </div>
        </f:case>
        
        <f:case value="sameAs">
			<div class="four">
				<h1>sameAs</h1>
				<f:for each="{viewArray.sameAs}" as="number">
						<f:for each="{number}" as="subInfo" key="numberKey">
							<f:if condition="{numberKey}=='collection'">
								<f:then>
									<f:for each="{subInfo}" as="collection" key="collectionKey">
										<f:if condition="{collectionKey}=='icon'">
											<f:then>
												
												<img src="{collection}" />
												
											</f:then>
											<f:else>{collection}<br></f:else>
										</f:if>
									</f:for>
								</f:then>
								<f:else>
									<p>{numberKey}:<a href="{subInfo}">{subInfo}</a></p>
								</f:else>
							</f:if>
						</f:for>
					</f:for>	
			</div>
		</f:case>
        
        <f:case value="depiction">
            <div class="three">
                <h1>depiction</h1>
                <f:for each="{viewArray.depiction}" as="depiction" key="depictionKey">
                    <f:if condition="{depictionKey}=='thumbnail'">
                        <f:then>
                            <f:for each="{depiction}" as="thumbnail" key="thumbnailKey">
                                <p>{depictionKey}:{thumbnailKey}:<a href="{thumbnail}">{thumbnail}</a><br>
                                <img src="{thumbnail}" /></p>
                            </f:for>
                        </f:then>
                        <f:else>
                            <p>{depictionKey}:<a href="{depiction}">{depiction}</a></p>
                        </f:else>
                    </f:if>
                </f:for>
            </div>
        </f:case>
        
		<f:case value="relatedPerson">
			<div class="two">
                <h1>relatedPerson</h1>
                <f:for each="{viewArray.relatedPerson}" as="newRelatedPerson">
                    <p>
					<f:for each="{newRelatedPerson}" as="person" key="personKey">
						<f:if condition="{personKey}!='@id'">
							<f:then>
								{person}
							</f:then>
							<f:else><a href="{person}">{person}</a><br></f:else>
						</f:if>
                    </f:for>
                    </p>
                </f:for>
            </div>
		</f:case>
        
        <f:case default="TRUE">
            <h1>{viewArrayValueKey}</h1>
            <p>{viewArrayValue}</p>
        </f:case>
        
    </f:switch>
        
</f:for>

<f:debug>{viewArray}</f:debug>
</f:section>
</html>
