<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

<f:for each="{viewArray}" as="viewArrayValue" key="viewArrayValueKey">
    <f:if condition="{viewArrayValue}">
        <f:then>
            <f:switch expression="{viewArrayValueKey}">
                <f:case value="relationship">
                    <div class="fact relationship">
                        <p class="headline"><f:translate id="slubentityfacts.relationship" /></p>
                            <f:for each="{viewArrayValue}" as="relationship">
                                <p class="content">{relationship}</p>
                            </f:for>
                    </div>
                </f:case>

                <f:case value="context">
                    <div class="fact context">
                        <p class="headline"><f:if condition="{settings.debugview}"><f:translate id="slubentityfacts.context" /></f:if></p>
                        <p class="content"><a href="{viewArray.context}">{viewArray.context}</a></p>
                    </div>
                </f:case>

                <f:case value="id">
                    <div class="fact id">
                        <p class="headline"><f:if condition="{settings.debugview}"><f:translate id="slubentityfacts.id" /></f:if></p>
                        <p class="content"><a href="{viewArray.id}">{viewArray.id}</a></p>
                    </div>
                </f:case>

                <f:case value="type">
                    <div class="fact type">
                        <p class="headline"><f:if condition="{settings.debugview}"><f:translate id="slubentityfacts.type" /></f:if></p>
                        <p class="content"><f:translate id="slubentityfacts.type.{viewArray.type}" /></a></p>
                    </div>
                </f:case>

                <f:case value="depiction">
                    <div class="fact depiction">
                        <p class="headline"><f:if condition="{settings.debugview}"><f:translate id="slubentityfacts.depiction" /></f:if></p>
                        <p class="content">
                            <a href="{viewArray.depiction.url}">
                            <img src="{viewArray.depiction.thumbnail.atid}" /></a>
                        </p>
                    </div>
                </f:case>

                <f:case value="relatedPerson">
                    <div class="fact relatedPerson">
                        <p class="headline"><f:translate id="slubentityfacts.relatedPerson" /></p>
                        <f:for each="{viewArray.relatedPerson}" as="newRelatedPerson" key="newRelatedPersonKey">
                            <p class="content">
                                <a href="{newRelatedPerson.atid}">{newRelatedPerson.preferredName} ({newRelatedPerson.relationship})</a>
                            </p>
                        </f:for>
                    </div>
                </f:case>

                <f:case value="variantName">
                    <div class="fact variantName">
                        <p class="headline"><f:translate id="slubentityfacts.variantName" /></p>
                            <f:for each="{viewArrayValue}" as="variantName">
                                <p class="content">{variantName}</p>
                            </f:for>
                    </div>
                </f:case>

                <f:case value="placeOfBusiness">
                    <div class="fact placeOfBusiness">
                        <p class="headline"><f:translate id="slubentityfacts.placeOfBusiness" /></p>
                            <f:for each="{viewArrayValue}" as="placeOfBusiness">
                                <f:for each="{placeOfBusiness}" as="placeOfBusinessArray" key="placeOfBusinessArrayKey">
                                    <f:if condition="{placeOfBusinessArrayKey}=='@id'">
                                        <f:then>
                                            <p class="content"><a href="{placeOfBusinessArray}">{placeOfBusinessArray}</a></p>
                                        </f:then>
                                        <f:else>
                                            <p class="content">{placeOfBusinessArray}</p>
                                        </f:else>
                                    </f:if>
                                </f:for>
                            </f:for>
                    </div>
                </f:case>

                <f:case value="predecessor">
                    <div class="fact predecessor">
                        <p class="headline"><f:translate id="slubentityfacts.predecessor" /></p>
                            <f:for each="{viewArrayValue}" as="predecessor">
                                <f:for each="{predecessor}" as="predecessorArray" key="predecessorArrayKey">
                                    <f:if condition="{predecessorArrayKey}=='@id'">
                                        <f:then>
                                            <p class="content"><a href="{predecessorArray}">{predecessorArray}</a></p>
                                        </f:then>
                                        <f:else>
                                            <p class="content">{predecessorArray}</p>
                                        </f:else>
                                    </f:if>
                                </f:for>
                            </f:for>
                    </div>
                </f:case>

                <f:case value="isA">
                    <div class="fact isA">
                        <p class="headline"><f:if condition="{settings.debugview}"><f:translate id="slubentityfacts.isA" /></f:if></p>
                            <f:for each="{viewArrayValue}" as="isA">
                                <f:for each="{isA}" as="isAArray" key="isAArrayKey">
                                    <f:if condition="{isAArrayKey}=='@id'">
                                        <f:then>
                                            <p class="content"><a href="{isAArray}">{isAArray}</a></p>
                                        </f:then>
                                        <f:else>
                                            <p class="content">{isAArray}</p>
                                        </f:else>
                                    </f:if>
                                </f:for>
                            </f:for>
                    </div>
                </f:case>

                <f:case value="dateOfEstablishment">
                    <div class="fact dateOfEstablishment">
                        <p class="headline"><f:translate id="slubentityfacts.dateOfEstablishment" /></p>
                            <f:for each="{viewArrayValue}" as="dateOfEstablishment">
                                <p class="content">{dateOfEstablishment}</p>
                            </f:for>
                    </div>
                </f:case>

                <f:case value="describedBy">
                    <div class="fact describedBy">
                        <p class="headline"><f:translate id="slubentityfacts.describedBy" /></p>
                            <f:for each="{viewArrayValue}" as="describedBy" key="describedByKey">
                                <f:if condition="{describedByKey}!='valid'">
                                    <f:then>
                                        <p class="content"><a href="{describedBy}">{describedBy}</a></p>
                                    </f:then>
                                    <f:else>
                                        <p class="content">{describedBy}</p>
                                    </f:else>
                                </f:if>
                            </f:for>
                    </div>
                </f:case>

                <f:case value="associatedPlace">
                    <div class="fact associatedPlace">
                        <p class="headline"><f:translate id="slubentityfacts.associatedPlace" /></p>
                            <f:for each="{viewArrayValue}" as="associatedPlace">
                               <p class="content"><a href="{associatedPlace.atid}">{associatedPlace.preferredName}</a></p>
                            </f:for>
                    </div>
                </f:case>

                <f:case value="gender">
                    <div class="fact gender">
                        <p class="headline"><f:if condition="{settings.debugview}"><f:translate id="slubentityfacts.gender" /></f:if></p>
                        <p class="content"><a href="{viewArray.gender.atid}">{viewArray.gender.label}</a></p>
                    </div>
                </f:case>

                <f:case value="familialRelationship">
                    <div class="fact familialRelationship">
                        <p class="headline"><f:translate id="slubentityfacts.familialRelationship" /></p>
                        <f:for each="{viewArray.familialRelationship}" as="member">
                            <p class="content"><a href="{member.atid}">{member.preferredName} ({member.relationship})</a></p>
                        </f:for>
                    </div>
                </f:case>

                <f:case value="professionOrOccupation">
                    <div class="fact professionOrOccupation">
                        <p class="headline"><f:translate id="slubentityfacts.professionOrOccupation" /></p>
                        <f:for each="{viewArray.professionOrOccupation}" as="profession">
                            <p class="content"><a href="{profession.atid}">{profession.preferredName}</a></p>
                        </f:for>
                    </div>
                </f:case>

                <f:case value="affiliation">
                    <div class="fact affiliation">
                        <p class="headline"><f:translate id="slubentityfacts.affiliation" /></p>
                        <f:for each="{viewArray.affiliation}" as="number">
                            <p class="content"><a href="{number.atid}">{number.preferredName}</a></p>
                        </f:for>
                    </div>
                </f:case>

                <f:case value="pseudonym">
                    <div class="fact pseudonym">
                        <p class="headline"><f:translate id="slubentityfacts.pseudonym" /></p>
                        <f:for each="{viewArray.pseudonym}" as="number">
                            <p class="content">{number.preferredName}</p>
                        </f:for>
                    </div>
                </f:case>

                <f:case value="placeOfActivity">
                    <div class="fact placeOfActivity">
                        <p class="headline"><f:translate id="slubentityfacts.placeOfActivity" /></p>
                        <f:for each="{viewArray.placeOfActivity}" as="place">
                            <p class="content"><a href="{place.atid}">{place.preferredName}</a></p>
                        </f:for>
                    </div>
                </f:case>

                <f:case value="placeOfBirth">
                    <div class="fact placeOfBirth">
                        <p class="headline"><f:translate id="slubentityfacts.placeOfBirth" /></p>
                        <f:for each="{viewArray.placeOfBirth}" as="place">
                            <p class="content"><a href="{place.atid}">{place.preferredName}</a></p>
                        </f:for>
                    </div>
                </f:case>

                <f:case value="placeOfDeath">
                    <div class="fact placeOfDeath">
                        <p class="headline"><f:translate id="slubentityfacts.placeOfDeath" /></p>
                        <f:for each="{viewArray.placeOfDeath}" as="place">
                            <p class="content"><a href="{place.atid}">{place.preferredName}</a></p>
                        </f:for>
                    </div>
                </f:case>

                <f:case value="preferredName">
                    <div class="fact preferredName">
                        <p class="headline"><f:if condition="{settings.debugview}"><f:translate id="slubentityfacts.preferredName" /></f:if></p>
                        <p class="value">{viewArray.preferredName}</p>
                    </div>
                </f:case>

                <f:defaultCase>
                    <div class="fact default">
                        <p class="headline"><f:if condition="{settings.debugview}"><f:translate id="slubentityfacts.{viewArrayValueKey}" /></f:if></p>
                        <p class="value">{viewArrayValue}</p>
                    </div>
                </f:defaultCase>

            </f:switch>
        </f:then>
        <f:else>
          <f:if condition="{settings.debugview}">
            <p class="headline"><f:translate id="slubentityfacts.{viewArrayValueKey}" /></p>
            <p class="content"><f:translate id="slubentityfacts.noContent" /></p>
          </f:if>
        </f:else>
    </f:if>
</f:for>

<f:if condition="{settings.entityfacts.sameAs}=='1'">
    <f:then>
        <div class="fact sameAs">
            <f:if condition="{sameAsArray}">
                <p class="headline"><f:translate id="slubentityfacts.sameAs" /></p>
                <ul>
                <f:for each="{sameAsArray}" as="item">
                    <li class="content">
                        <f:link.external uri="{item.atid}" title="{item.atid} {item.collection.publisher}">
                            <f:if condition="{item.collection.icon}">
                                <img class="icon" src="{item.collection.icon}" alt="icon of {item.collection.name}"/>
                            </f:if>
                            {item.collection.name}
                        </f:link.external>
                    </li>
                </f:for>
                </ul>
            </f:if>
        </div>
    </f:then>
</f:if>

</f:section>
</html>
