// debug settings

div.one {color: black;}
div.fact {color: green;}
div.default {color: orange;}
p.headline {color: #666699;}
div.five {color: red;}

.sameAs ul {
  list-style-type: none;
}

.sameAs img.icon {
  width: 24px;
  margin: 0 10px;
}

.preferredName p.value {
  font-size: 150%;
  font-weight: bold;
}
